<app-navbar></app-navbar>
<alert></alert>
<h4 class="card-header">
	<div class="row">
		<div class= "btn-toolbar" role= "toolbar" aria-label= "test" >
			<div class="btn-group" role="group" aria-label="title">
				<button class="btn btn-secondary" disabled>{{ 'MENUGROUPS.ICE' | translate }} : {{ 'COMMON.PAGE' | translate }} - {{currentPage}} / {{totPages}}</button>
			</div>
			&nbsp;&nbsp;
			<div class="btn-group" role="group" aria-label="navigation">
				  <button type="button" class="btn btn-warning" (click)="currentPage = currentPage*1-1;getMenuGroups(currentPage)" [disabled]="currentPage==1">{{ 'COMMON.PREV' | translate }}</button>
				  <button type="button" class="btn btn-warning" (click)="currentPage = currentPage*1+1;getMenuGroups(currentPage)" [disabled]="currentPage>=totPages">{{ 'COMMON.NEXT' | translate }}</button>
			 </div>
			 &nbsp;&nbsp;		 
			 <div class="input-group">
				<span class="form-control text-center">{{ 'COMMON.FILTER' | translate }}</span>
				<input class="btn btn-info" [(ngModel)]="filter.designation" id="designation" name="designation">
			</div>			
			&nbsp;&nbsp;
			<div class="btn-group" role="group" aria-label="back">		
			   <button class="btn btn-warning" id="back" name="back" (click)="goBack()">{{ 'COMMON.RETURN' | translate }}</button>
			</div>
		</div>
	</div>
</h4>
<div class="row">
		<div class="menuGroups" *ngIf="menuGroupsList">
			<table class="table-sm table-striped">
				<thead class="h">
					<tr class="h">
						<th class="h"></th>
						<th class="h text-center text-danger">{{ 'MENUGROUPS.DESIGNATION' | translate }}</th>
						<th class="h text-center">{{ 'MENUGROUPS.ENDED' | translate }}</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>	
					<tr class="h" >
						<td><button type="button" class="btn btn-secondary"><i  class="fa fa-plus"></i></button></td>
						<td><input type="string" name="designation" id="designation"  [(ngModel)]="newMenuGroup.designation" placeholder="designation" class="form-control  text-center" required></td>
						<td><input type="checkbox" name="ended" id="ended"  [(ngModel)]="newMenuGroup.ended" placeholder="ended" class="form-control  text-center" required></td>
						<td class="o">
							<button class="btn btn-primary" *ngIf="(newMenuGroup.designation!=null)" (click)="create()"><i  class="fa fa-plus"></i></button>
						</td>
						<td></td>
						<td></td>
					</tr>
					<tr class="menuGroup"  *ngFor="let menuGroup of menuGroupsList | menuGroupsfilter:filter as result">
						<ng-container *ngIf="!editMenuGroups.includes(menuGroup); else editTD">
						  <td></td>
						  <td class="text-center">{{menuGroup.designation }} </td>
						  <td class="text-center">{{menuGroup.ended}}</td>
						</ng-container>

						<ng-template #editTD>
							<td></td>
							<td><input type="string" name="designation" id="designation"  [(ngModel)]="menuGroup.designation" placeholder="designation" class="form-control text-center" disabled></td>
							<td><input type="checkbox" name="ended" id="ended"  [(ngModel)]="menuGroup.ended" placeholder="ended" class="form-control text-center" required></td>
						</ng-template>

						<td class="o">
							<button class="btn btn-primary" (click)="editMenuGroup(menuGroup)">
								<i  class="fa fa-pencil"></i>
							</button>
						</td>
						<td class="o">
							<button class="btn btn-danger" (click)="deleteMenuGroup(menuGroup)">
								<i  class="fa fa-trash"></i>
							</button>
						</td>
						<td class="o">
							<a [routerLink]="['/menus', menuGroup.designation]" [routerLinkActive]="[active]" class="btn btn-info">{{ 'MENUGROUPS.MENUS' | translate }}</a>
						</td>
						
					</tr>
				</tbody>
			</table>
		</div>

</div>