<app-navbar></app-navbar>
<alert></alert>
<h4 class="card-header">
	<div class="row">
		<div class= "btn-toolbar" role= "toolbar" aria-label= "test" >
			<div class="btn-group" role="group" aria-label="title">
				<button class="btn btn-secondary" disabled>{{ 'UNITTYPES.ICE' | translate }} : {{ 'COMMON.PAGE' | translate }} - {{currentPage}} / {{totPages}}</button>
			</div>
			&nbsp;&nbsp;
			<div class="btn-group" role="group" aria-label="navigation">
				  <button type="button" class="btn btn-warning" (click)="currentPage = currentPage*1-1;getUnitTypes(currentPage)" [disabled]="currentPage==1">{{ 'COMMON.PREV' | translate }}</button>
				  <button type="button" class="btn btn-warning" (click)="currentPage = currentPage*1+1;getUnitTypes(currentPage)" [disabled]="currentPage>=totPages">{{ 'COMMON.NEXT' | translate }}</button>
			 </div>
			 &nbsp;&nbsp;
			 <div class="input-group">
				<span class="form-control text-center">{{ 'COMMON.FILTER' | translate }}</span>
				<input class="btn btn-info" [(ngModel)]="filter.designation" id="designation" name="designation" >

			</div>
			&nbsp;&nbsp;
			<div class="btn-group" role="group" aria-label="back">		
			   <button class="btn btn-warning" id="back" name="back" (click)="goBack()">{{ 'COMMON.RETURN' | translate }}</button>
			</div>
		</div>
	</div>
</h4>

<div class="row">
		<div class="unitTypes" *ngIf="unitTypesList">
			<table class="table-sm table-striped">
				<thead class="h">
					<tr class="h">
						<th class="h"></th>
						<th class="h text-center text-danger">{{ 'UNITTYPES.DESIGNATION' | translate }}</th>
						<th class="h text-center">{{ 'UNITTYPES.REFERENCE' | translate }}</th>
						<th class="h text-center">{{ 'UNITTYPES.DONOTREMOVE' | translate }}</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr class="h" *ngIf="currentUser.admin">
						<td><button type="button" class="btn btn-secondary"><i  class="fa fa-plus"></i></button></td>
						<td><input type="string" name="designation" id="designation"  [(ngModel)]="newUnitType.designation" placeholder="designation" class="form-control  text-center" required></td>
						<td><input type="string" name="reference" id="reference"  [(ngModel)]="newUnitType.reference" placeholder="reference" class="form-control  text-center" required></td>
						<td><input type="checkbox" name="donotremove" id="donotremove"  [(ngModel)]="newUnitType.donotremove" class="form-control text-center" ></td>
						<td class="o">
							<button class="btn btn-primary" *ngIf="(newUnitType.designation!=null) && (newUnitType.reference!=null) && currentUser.admin" (click)="create()"><i  class="fa fa-plus"></i></button>
						</td>
						<td></td>
						<td></td>
					</tr>
					<tr class="unitType"  *ngFor="let unitType of unitTypesList | unitTypesfilter:filter as result">
						<ng-container *ngIf="!editUnitTypes.includes(unitType); else editTD">
						  <td></td>
						  <td class="text-center">{{unitType.designation }} </td>
						  <td class="text-center">{{unitType.reference}}</td>
						  <td><input type="checkbox" name="donotremove" id="donotremove"  [(ngModel)]="unitType.donotremove" class="form-control text-center" ></td>

						</ng-container>

						<ng-template #editTD>
							<td></td>
							<td><input type="string" name="designation" id="designation"  [(ngModel)]="unitType.designation" placeholder="designation" class="form-control text-center" disabled></td>
							<td><input type="string" name="reference" id="reference"  [(ngModel)]="unitType.reference" placeholder="reference" class="form-control text-center" required></td>
							<td><input type="checkbox" name="donotremove" id="donotremove"  [(ngModel)]="unitType.donotremove" class="form-control text-center" ></td>
						</ng-template>


						<td class="o">
							<button class="btn btn-primary" (click)="editUnitType(unitType)" *ngIf="currentUser.admin">
								<i  class="fa fa-pencil"></i>
							</button>
						</td>
						<td class="o">
							<button class="btn btn-danger" (click)="deleteUnitType(unitType)" *ngIf="currentUser.admin">
								<i  class="fa fa-trash"></i>
							</button>
						</td>
						<td class="o">
							<a [routerLink]="['/units', unitType.designation]" [routerLinkActive]="[active]"  class="btn btn-info">{{ 'UNITS.ICE' | translate }}</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

</div>